@charset "UTF-8";
.w3-panel{
	margin-top:0px;
	margin-bottom:0px;
}
.w3-container, .w3.panel{
	padding: 0px;
}
#sidenav01>li>a{
	color:black;
}
#sidenav01>li>a:hover{
	background-color:pink;
}
#toggleDemo>ul>li>a{
	color:black;
}
#toggleDemo>ul>li>a:hover{
	background-color:pink;
}
#sidenav01a>li>a{
	color:black;
}
#sidenav01a>li>a:hover{
	background-color:pink;
}
#toggleDemo1>ul>li>a{
	color:black;
}
#toggleDemo1>ul>li>a:hover{
	background-color:pink;
}
#memberNav .navbar-collapse{
	padding-right:0;
	padding-left:0;
}
